ody{
    padding: 0%;
    margin: 0%;
   background: url('../img/bg.jbg.jbg') no-repeat;
   background-attachment: fixed;
   background-size: cover;


}
 .card{
    width: 600px;
    height: 400px;
    background-color: #fff;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    box-shadow: 2px 2px 50px aqua, 2px 2px 100px aqua,2px 2px 150px aqua;


 }
.card-header{
    position: absolute;
    width: 100%;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #000;
}
.text-center{
    text-align: center;
    z-index: 1;
}
.avatar{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    top: -80px;
    left: 42%;
    z-index: 3;
    opacity: 0.5;
}
.card-body{
    position:absolute;
   /* background-color: #000;*/
    width: 100%;
    height: 499px;
    top: 101px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;


}
.row{
    position:absolute;
    top: 10px;
    height: 0.33%;
    width: 100%;
    display:flexbox;
    justify-content: space-between;
   /*padding: 25px;
    overflow: hidden;*/
    margin-top: 25px;
}
.label-text{
    font-size: 25px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    margin: 0 10px;
}
.form-control{
    height: 35px;
    margin: 0 25px;
    width: 150px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    text-align: center;

}
.btn{
    display: flex;
justify-content: center;
    width: 75px;
    height: 35px;
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 15px;
    border-radius: 10px;
}
.btn-success{
    background-color: rgb(#1e347c);
    border: 1px #1e347c;
}
btn-danger{
    background-color: rgb(#1e347c);
    border: 1px #1e347c;
}